version: '2'
services:
  mongo-rs0-1:
    ports:
    - "27017:27017"
    networks:
    - db
    image: "percona/percona-server-mongodb:{{MONGO_VERSION}}"
    command: mongod --port=27017 --replSet=rs0
  mongo-rs0-2:
    ports:
    - "27027:27027"
    networks:
    - db
    image: "percona/percona-server-mongodb:{{MONGO_VERSION}}"
    command: mongod --port=27027 --replSet=rs0
  mongo-csReplSet-1:
    ports:
    - "27019:27019"
    networks:
    - db
    image: "percona/percona-server-mongodb:{{MONGO_VERSION}}"
    command: mongod --port=27019 --replSet=csReplSet --configsvr --dbpath /data/db
  mongo-csReplSet-2:
    ports:
    - "27029:27029"
    networks:
    - db
    image: "percona/percona-server-mongodb:{{MONGO_VERSION}}"
    command: mongod --port=27029 --replSet=csReplSet --configsvr --dbpath /data/db
  mongo-mongos:
    ports:
    - "27018:27018"
    networks:
    - db
    image: "percona/percona-server-mongodb:{{MONGO_VERSION}}"
    command: mongos --port=27018 --configdb csReplSet/mongo-csReplSet-1:27019,mongo-csReplSet-2:27029
    depends_on:
    - mongo-rs0-1
    - mongo-rs0-2
    - mongo-csReplSet-1
    - mongo-csReplSet-2
  mongodb_consistent_backup:
    image: mongodb_consistent_backup:latest
    command: --backup.location /var --backup.name test-cluster --host csReplSet/mongo-csReplSet-1:27019,mongo-csReplSet-2:27029
    networks:
    - db
    depends_on:
    - mongo-mongos
    links:
    - mongo-mongos
    - mongo-rs0-1
    - mongo-rs0-2
    - mongo-csReplSet-1
    - mongo-csReplSet-2

networks:
  db:
    driver: bridge
